/* $TYPOGRAPHY
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');


html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-common;
	@include rem('font-size', $base-font-size);
	line-height: $text-line-height;
	color: $base-text-color;
	font-weight: $light;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0 0 $paragraph-spacing;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-stack-headings;
	font-weight: inherit;
	margin: 1.414em 0 0.5em;
  	line-height: 1.2;
	a {
		color: inherit;
	}
}


h1, .h1 {
	@include rem('font-size', $h1-size);	
}

h2, .h2 {
	@include rem('font-size', $h2-size);	
}

h3, .h3 {
	@include rem('font-size', $h3-size);	
}

h4, .h4 {
	@include rem('font-size', $h4-size);	
}


a {
	color: $dominant-color;
	text-decoration: none;
    transition: 0.3s all ease-in-out;
	&:hover {
		color: darken($dominant-color, 10%);
		text-decoration: none;
	}
	&:focus {
		color: darken($dominant-color, 15%);
		text-decoration: none;
	}
}


/* LES TITRES
----------------------------------------------------------------------------------------*/

.text-body {
	@include fontSize(21);
	line-height: 1.3;
}

.title-site {
	@include fontSize(31);
	color: #ffffff;
	margin-bottom: 0;
}

.subtitle-site {
	@include fontSize(16);
	color: #ffffff;
}

.text-nav {
	@include fontSize(20);
	letter-spacing: 2px;
}

.title-page {
	@include fontSize(52);
	font-weight: bold;
	text-align: center;
}

.title-section {
	@include fontSize(92);
	font-weight: bold;
	letter-spacing: 5px;
}


/* Text formaters
----------------------------------------------------------------------------------------*/



hr {
	margin: 20px 0 40px;
}

