# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Theme files
node_modules
build
*.node

.idea

gulp.1
yarn.lock
.sass-cache/
*/css/style.css
package-lock.json