/* $LAYOUT
========================================================================== */

html, 
body,
.body-inner,
.main-wrapper
 {
	min-height: 100vh;
}

html {
	background: $base-background;
}

body {
	position: relative;
}

.mobile {
	body {
		min-width: 100%;
	}
}

.wrapper-site {
	position:relative;
	overflow:hidden;
}

/*
 * Contenu principal
 */
 .main-wrapper {
 	position: relative;
 	@media #{$max-small} {
		margin-bottom: 0;
	}
 }