/* $HEADER
========================================================================== */

.header-main {
  position: relative;
  z-index:10;
  display: inline-block;
}

.main-navbar {
  padding: 50px 50px 0;
}

.navbar {
  display: inline-block;
}

.navbar-brand {
  display: flex;
  align-items: center;
  p {
    margin-bottom:0;
  }
}

.navbar-brand__title {
  margin-left:25px;
}