{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "data-namespace"}}homepage{{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}


<a class="bubble-page bubble-page--top" href="/articles/">Articles (DEMO)</a>
<a class="bubble-page bubble-page--bottom" href="/what-is-it/">What is it</a>
<div class="home-content" itemscope itemtype="http://schema.org/Person">
    {{.Content}}
</div>
<div id="timeline"></div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
