{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "data-namespace"}}homepage{{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}


<div class="bubble-page bubble-page--top">
	<a href="/articles/">Articles (DEMO)</a>
</div>
<div class="bubble-page bubble-page--bottom">
	<a href="/what-is-it/">What is it</a>
</div>


<div class="home-content" itemscope itemtype="http://schema.org/Person">
    {{.Content}}
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
