/**
 * Description:  Styles css pour Bastien Cornier
 * Version: 1.0.0
 * Created: 2017-05-05
 * Last update: 2017-05-05
 * Author: bastien c <o>
 *
 *
 * Summary:
 *   1. VENDORS
 *	2. BASE
 *	- 1.1. RESET
 *	- 1.2. TYPOGRAPHY
 *	- 1.3. HELPERS
 *	3. LAYOUT
 *    - 3.1. LAYOUT
 *    - 3.4. HEADER
 *    - 3.5. FORMS
 *    - 3.6. FOOTER
 *	4. COMPONENTS
 *    - 4.2. ICONS
 *    - 4.8. FX
 *  5. PAGES
 *    - 5.1. ACCUEIL
 *    - 5.2. SITEMAP

 */
/*
 * Note: Use $section-name to search a specific section
 *
 *
 *
 */
/* Layout
----------------------------------------------------------------------------------------*/
/* ==========================================================================
   $VENDORS
   ========================================================================== */
/* ==========================================================================
   $BASE
   ========================================================================== */
/* $RESET
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* $TYPOGRAPHY
========================================================================== */
html {
  font-size: 62.5%; }

body {
  font-family: "Karla", Arial, sans-serif;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.6;
  color: #e5e3ff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin: 0 0 25px; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Karla", Arial, sans-serif;
  font-weight: inherit;
  margin: 1.414em 0 0.5em;
  line-height: 1.2; }
  h1 a, .h1 a,
  h2 a, .h2 a,
  h3 a, .h3 a,
  h4 a, .h4 a,
  h5 a, .h5 a,
  h6 a, .h6 a {
    color: inherit; }

h1, .h1 {
  font-size: 52px;
  font-size: 5.2rem; }

h2, .h2 {
  font-size: 92px;
  font-size: 9.2rem; }

h3, .h3 {
  font-size: 28px;
  font-size: 2.8rem; }

h4, .h4 {
  font-size: 20px;
  font-size: 2rem; }

a {
  color: #e5e3ff;
  text-decoration: none; }
  a:hover {
    color: #b6b0ff;
    text-decoration: none; }
  a:focus {
    color: #9e97ff;
    text-decoration: none; }

/* LES TITRES
----------------------------------------------------------------------------------------*/
.text-body {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: normal;
  line-height: 1.3; }

.title-site {
  font-size: 31px;
  font-size: 3.1rem;
  line-height: normal;
  color: #ffffff;
  margin-bottom: 0; }

.subtitle-site {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: normal;
  color: #ffffff; }

.text-nav {
  font-size: 20px;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 2px; }

.title-page {
  font-size: 52px;
  font-size: 5.2rem;
  line-height: normal;
  font-weight: bold;
  text-align: center; }

.title-section {
  font-size: 92px;
  font-size: 9.2rem;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 5px; }

/* Text formaters
----------------------------------------------------------------------------------------*/
hr {
  margin: 20px 0 40px; }

/* $HELPERS
   ========================================================================== */
/* ---------------------------------- */
/* ==visual helpers                   */
/* .. use them with parcimony !       */
/* ---------------------------------- */
.wauto {
  width: auto; }

.wfull {
  width: 100%; }

.hauto {
  height: auto; }

.hfull {
  height: 100%; }

.d-i {
  display: inline; }

.d-ib {
  display: inline-block; }

.d-b {
  display: block !important; }

.d-f {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
p,m,l,n = small, medium, large, none
*/
.man,
.ma0 {
  margin: 0; }

.pan,
.pa0 {
  padding: 0; }

.mauto {
  margin: 0 auto; }

.mas {
  margin: 20px; }

.mam {
  margin: 40px; }

.mal {
  margin: 60px; }

.pas {
  padding: 20px; }

.pam {
  padding: 40px; }

.pal {
  padding: 60px; }

.mtn,
.mt0 {
  margin-top: 0; }

.mtt {
  margin-top: 10px; }

.mts {
  margin-top: 20px; }

.mtm {
  margin-top: 40px; }

.mtl {
  margin-top: 60px; }

.mrn,
.mr0 {
  margin-right: 0; }

.mrt {
  margin-right: 10px; }

.mrs {
  margin-right: 20px; }

.mrm {
  margin-right: 40px; }

.mrl {
  margin-right: 60px; }

.mbn,
.mb0 {
  margin-bottom: 0 !important; }

.mbt {
  margin-bottom: 10px; }

.mbs {
  margin-bottom: 20px; }

.mbm {
  margin-bottom: 40px; }

.mbl {
  margin-bottom: 60px; }

.mbxl {
  margin-bottom: 80px; }

.mln,
.ml0 {
  margin-left: 0; }

.mlt {
  margin-left: 10px; }

.mls {
  margin-left: 20px; }

.mlm {
  margin-left: 40px; }

.mll {
  margin-left: 60px; }

.ptn,
.pt0 {
  padding-top: 0; }

.pts {
  padding-top: 20px; }

.ptm {
  padding-top: 40px; }

.ptl {
  padding-top: 60px; }

.ptxl {
  padding-top: 80px; }

.prn,
.pr0 {
  padding-right: 0; }

.prt {
  padding-right: 10px; }

.prs {
  padding-right: 20px; }

.prm {
  padding-right: 40px; }

.prl {
  padding-right: 60px; }

.pbn,
.pb0 {
  padding-bottom: 0 !important; }

.pbs {
  padding-bottom: 20px; }

.pbm {
  padding-bottom: 40px; }

.pbl {
  padding-bottom: 60px; }

.pbxl {
  padding-bottom: 80px; }

.pln,
.pl0 {
  padding-left: 0; }

.plt {
  padding-left: 10px; }

.pls {
  padding-left: 20px; }

.plm {
  padding-left: 40px; }

.pll {
  padding-left: 60px; }

/* others
   ========================================================================== */
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.overflow-hidden {
  overflow: hidden !important; }

.no-underline, .no-underline:before {
  text-decoration: none; }

figure.highlight {
  padding: 9px 14px;
  margin: 14px 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px; }

.text-shine {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); }

/* POSITION
----------------------------------------------------------------------------------------*/
.v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.absolute-fit, .overlay-dark, .overlay-dark-pe:after, #timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

/* Flex positions */
.flex-start {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-end {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-center {
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.center {
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto; }

.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.item-end {
  margin-left: auto; }

/* Position text
------------------------------------------*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.v-align-middle {
  vertical-align: middle; }

/* Position float
------------------------------------------*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* IMAGES
----------------------------------------------------------------------------------------*/
.fluid-size {
  width: 100%;
  max-width: 100%;
  height: auto; }

.cover {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center; }

.overlay-dark, .overlay-dark-pe:after {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.17); }

.overlay-dark-pe:after {
  content: ""; }

/* BLOC COLORED
----------------------------------------------------------------------------------------*/
.bloc-dark-bg, .bloc-dark-bg a, .bloc-dark-bg span, .bloc-dark-bg i, .bloc-dark-bg p, .bloc-dark-bg li, .bloc-dark-bg *:after, .bloc-dark-bg *:before, .bloc-bg-colored, .bloc-bg-colored a, .bloc-bg-colored span, .bloc-bg-colored i, .bloc-bg-colored p, .bloc-bg-colored li, .bloc-bg-colored *:after, .bloc-bg-colored *:before {
  color: #FFF; }
.bloc-dark-bg a:hover, .bloc-bg-colored a:hover {
  color: #FFF; }

.bg-dominant-color {
  background-color: #e5e3ff; }

.bg-base-color {
  background-color: #e5e3ff; }

.bg-lightgrey {
  background-color: #eaeaea; }

.bg-grey {
  background-color: #CECECE; }

/* LINKS
----------------------------------------------------------------------------------------*/
.disabled {
  opacity: 0.7;
  pointer-events: none; }

/* ---------------------------------- */
/* ==admin dev classes */
/* For debbuging purpose */
/* ---------------------------------- */
.dev,
.hidden-dev {
  display: none; }
  .devmode .dev, .devmode
  .hidden-dev {
    display: block; }

/* ==========================================================================
   $LAYOUT
   ========================================================================== */
/* $LAYOUT
========================================================================== */
html,
body,
.body-inner,
.main-wrapper {
  min-height: 100vh; }

html {
  background: #030028; }

body {
  position: relative; }

.mobile body {
  min-width: 100%; }

.wrapper-site {
  position: relative;
  overflow: hidden; }

/*
 * Contenu principal
 */
.main-wrapper {
  position: relative;
  z-index: 1; }
  @media (max-width: 768px) {
    .main-wrapper {
      margin-bottom: 0; } }

.deco-bg-waves {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.deco-bg-waves__top, .deco-bg-waves__bottom {
  position: absolute;
  width: 100%; }
  .deco-bg-waves__top:before, .deco-bg-waves__bottom:before, .deco-bg-waves__top:after, .deco-bg-waves__bottom:after {
    content: '';
    height: 30rem;
    position: absolute;
    width: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain; }

.deco-bg-waves__top {
  top: 0; }
  .deco-bg-waves__top:before, .deco-bg-waves__top:after {
    background-position: center top;
    top: 0; }
  .deco-bg-waves__top:before {
    height: 30rem;
    background-image: url(../img/wave-top-back.svg); }
  .deco-bg-waves__top:after {
    background-image: url(../img/wave-top-front.svg);
    z-index: 1; }

.deco-bg-waves__bottom {
  bottom: 0; }
  .deco-bg-waves__bottom:before, .deco-bg-waves__bottom:after {
    background-position: center bottom;
    bottom: 0; }
  .deco-bg-waves__bottom:before {
    height: 50rem;
    background-image: url(../img/wave-bottom-back.svg); }
  .deco-bg-waves__bottom:after {
    background-image: url(../img/wave-bottom-front.svg);
    z-index: 1; }

/* $HEADER
========================================================================== */
.header-main {
  position: relative;
  z-index: 10; }

.main-navbar {
  padding: 50px 50px 0; }

.navbar {
  display: inline-block; }

.navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar-brand p {
    margin-bottom: 0; }

.navbar-brand__title {
  margin-left: 25px; }

/* $FORMS
========================================================================== */
/* $FOOTER
========================================================================== */
/* ==========================================================================
   $COMPONENTS
   ========================================================================== */
/* $FX
========================================================================== */
/* LINKS
----------------------------------------------------------------------------------------*/
.link-fx-wrapper {
  position: relative; }

/* fx1 hover effect */
.link-fx1, .link-fx2, .link-fx3 {
  position: relative;
  line-height: 1;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
  vertical-align: middle; }
  .link-fx1::before, .link-fx2::before, .link-fx3::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #e5e3ff;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.3s 0.2s;
    transition: width 0.3s 0.2s; }
  .link-fx-wrapper:hover .link-fx1::before, .link-fx-wrapper:hover .link-fx2::before, .link-fx-wrapper:hover .link-fx3::before, .link-fx-wrapper.hover .link-fx1::before, .link-fx-wrapper.hover .link-fx2::before, .link-fx-wrapper.hover .link-fx3::before {
    width: 100%; }
  .link-fx-wrapper:active .link-fx1::before, .link-fx-wrapper:active .link-fx2::before, .link-fx-wrapper:active .link-fx3::before {
    width: 100%; }
  .active .link-fx1::before, .active .link-fx2::before, .active .link-fx3::before {
    width: 100%; }

/* from fx1 */
.link-fx2, .link-fx3 {
  padding-bottom: 10px;
  line-height: 0.75; }
  .link-fx2::after, .link-fx3::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0;
    right: 0;
    background: #e5e3ff;
    -webkit-transform: translate3d(-105%, 0, 0);
            transform: translate3d(-105%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link-fx-wrapper:hover .link-fx2::after, .link-fx-wrapper:hover .link-fx3::after, .link-fx-wrapper.hover .link-fx2::after, .link-fx-wrapper.hover .link-fx3::after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .link-fx-wrapper:active .link-fx2::after, .link-fx-wrapper:active .link-fx3::after {
    -webkit-transform: translate3d(105%, 0, 0);
            transform: translate3d(105%, 0, 0); }
  .active .link-fx2::after, .active .link-fx3::after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

.link-fx3 {
  margin-bottom: -0.2em;
  padding-bottom: 0.3em;
  line-height: 1.1em; }
  .link-fx3::after {
    background-color: #e5e3ff;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .link-fx3__highlight {
    position: absolute;
    height: 1em;
    width: 100%;
    bottom: auto;
    left: 0;
    background: #CECECE;
    -webkit-transform: translate3d(-105%, 0, 0);
            transform: translate3d(-105%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link-fx-wrapper:hover .link-fx3::after, .link-fx-wrapper.hover .link-fx3::after {
    -webkit-transform: translate3d(105%, 0, 0);
            transform: translate3d(105%, 0, 0); }
  .link-fx-wrapper:hover .link-fx3 .link-fx3__highlight, .link-fx-wrapper.hover .link-fx3 .link-fx3__highlight {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .link-fx-wrapper:active .link-fx3::after {
    -webkit-transform: translate3d(-105%, 0, 0);
            transform: translate3d(-105%, 0, 0); }

.link-fx--feedback {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  margin: -webkit-calc(10px / -2 + 10px / 2) 0 0 -webkit-calc(10px / -2);
  margin: calc(10px / -2 + 10px / 2) 0 0 calc(10px / -2);
  pointer-events: none;
  opacity: 0; }

/* $ICONS
   ========================================================================== */
@font-face {
  font-family: "portfolio-bc";
  src: url("../font/portfolio-bc.eot");
  src: url("../font/portfolio-bc.eot?#iefix") format("embedded-opentype"), url("../font/portfolio-bc.woff") format("woff"), url("../font/portfolio-bc.ttf") format("truetype"), url("../font/portfolio-bc.svg#portfolio-bc") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"] {
  vertical-align: middle; }

[data-icon]:before {
  font-family: "portfolio-bc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portfolio-bc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-angle-down:before, .icon-fleche-bottom:before,
.icon-angle-bottom:before {
  content: "\62"; }

.icon-angle-left:before {
  content: "\63"; }

.icon-angle-right:before, .icon-fleche:before {
  content: "\64"; }

.icon-close:before, .icon-cross:before {
  content: "\66"; }

.icon-etoile:before {
  content: "\68"; }

.icon-share:before {
  content: "\6b"; }

.icon-plus:before {
  content: "\6c"; }

.icon-moins:before {
  content: "\6d"; }

.icon-loupe:before {
  content: "\6e"; }

.icon-geolocaliser:before {
  content: "\6f"; }

.icon-fleche:before {
  content: "\70"; }

.icon-agenda:before {
  content: "\67"; }

.icon-print:before {
  content: "\73"; }

.icon-mail:before {
  content: "\74"; }

.icon-close-icon:before {
  content: "\75"; }

.icon-play:before {
  content: "\76"; }

.icon-angle-thin-right:before {
  content: "\77"; }

.icon-arrow-thin-left:before {
  content: "\78"; }

.icon-fleche-right-long:before {
  content: "\79"; }

.icon-fleche-left-long:before {
  content: "\7a"; }

.icon-coeur-big:before {
  content: "\41"; }

.icon-drupal:before {
  content: "\42"; }

.icon-dribbble:before {
  content: "\43"; }

.icon-dropbox:before {
  content: "\44"; }

.icon-codepen:before {
  content: "\45"; }

.icon-facebook:before {
  content: "\46"; }

.icon-facebook-official:before {
  content: "\47"; }

.icon-facebook-square:before {
  content: "\48"; }

.icon-check:before {
  content: "\49"; }

.icon-chrome:before {
  content: "\4a"; }

.icon-cog:before {
  content: "\4b"; }

.icon-desktop:before {
  content: "\4c"; }

.icon-digg:before {
  content: "\4d"; }

.icon-firefox:before {
  content: "\4e"; }

.icon-get-pocket:before {
  content: "\4f"; }

.icon-github-alt:before {
  content: "\50"; }

.icon-github:before {
  content: "\51"; }

.icon-hand-peace-o:before {
  content: "\52"; }

.icon-linkedin:before {
  content: "\53"; }

.icon-soundcloud:before {
  content: "\54"; }

.icon-spotify:before {
  content: "\55"; }

.icon-stack-overflow:before {
  content: "\56"; }

.icon-stumbleupon:before {
  content: "\57"; }

.icon-twitter:before {
  content: "\58"; }

.icon-alert-circled:before {
  content: "\59"; }

.icon-behance:before {
  content: "\5a"; }

.icon-apple:before {
  content: "\30"; }

.icon-deviantart:before {
  content: "\31"; }

.icon-evernote:before {
  content: "\32"; }

.icon-google:before {
  content: "\33"; }

.icon-vimeo:before {
  content: "\34"; }

.icon-wikipedia:before {
  content: "\35"; }

.icon-wordpress-alt:before {
  content: "\36"; }

.icon-youtube-alt:before {
  content: "\37"; }

/* Other icons
------------------------------------------*/
.icon-contact-cv {
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
  display: block; }

/* Icon helpers
------------------------------------------*/
.icon-x05 {
  font-size: 0.5rem; }

.icon-x06 {
  font-size: 0.6em; }

.icon-x2 {
  font-size: 2rem; }

.icon-x3 {
  font-size: 3rem; }

.icon-x4 {
  font-size: 4rem; }

.icon-x6 {
  font-size: 60px;
  font-size: 6rem; }

.icon-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* $BUBBLE PAGE
========================================================================== */
.bubble-page {
  position: absolute;
  z-index: 1; }
  .bubble-page:before {
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    top: -190%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-image: -webkit-linear-gradient(59deg, #f82c67, #faff83);
    background-image: linear-gradient(31deg, #f82c67, #faff83);
    -webkit-box-shadow: 0 2px 14px 0 #080433;
            box-shadow: 0 2px 14px 0 #080433;
    border-radius: 100%; }

.bubble-page--top {
  top: 154px;
  right: 139px; }

.bubble-page--bottom {
  bottom: 44px;
  left: 51px; }
  .bubble-page--bottom:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1aceff), to(#24b583));
    background-image: -webkit-linear-gradient(top, #1aceff, #24b583);
    background-image: linear-gradient(to bottom, #1aceff, #24b583); }

/* $TIMELINE
========================================================================== */
/* $PANEL
========================================================================== */
.tl-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  bottom: 0;
  background: #030028;
  max-width: 450px;
  width: 100%;
  overflow: scroll;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transform: translate3D(101%, 0, 0);
      -ms-transform: translate3D(101%, 0, 0);
          transform: translate3D(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
  .tl-panel.open {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }
  .tl-panel .date {
    opacity: 0.3;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .tl-panel h2 {
    margin-top: 10px;
    font-size: 28px;
    font-size: 2.8rem;
    -webkit-transition: all 0.3s ease-in-out 0.05s;
    transition: all 0.3s ease-in-out 0.05s; }
  .tl-panel .link {
    display: block;
    margin-bottom: 45px; }
    .tl-panel .link > span {
      padding-bottom: 2px;
      border-bottom: 3px solid transparent;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    .tl-panel .link img {
      position: relative;
      top: 2px;
      margin-right: 15px; }
    .tl-panel .link:hover span {
      border-color: #e5e3ff; }
  .tl-panel .close {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    margin: 0 auto; }
  .tl-panel #close-button {
    color: #04BEFE; }
    .tl-panel #close-button path {
      fill: currentColor;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    .tl-panel #close-button circle {
      stroke: currentColor;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .tl-panel #close-button:hover circle, .tl-panel #close-button:focus circle {
      fill: currentColor; }
    .tl-panel #close-button:hover path, .tl-panel #close-button:focus path {
      fill: #030028; }

.tl-panel-inner {
  padding: 50px; }

/* ==========================================================================
   $PAGES
   ========================================================================== */
/* $ACCUEIL
========================================================================== */
.home {
  overflow: hidden; }

/* $SITEMAP
========================================================================== */
/* ==========================================================================
   $THEMES
   ========================================================================== */
