 <div id="main-navbar" class="main-navbar smFadeIn">
 	<div class="container-fluid main-navbar__inner">
 		<nav class="navbar">
 			<a href="{{ .Site.BaseURL }}" class="navbar-brand logo logo-main" data-transition="bubble-to-home" alt="logo bastien cornier">
 				<img src="/img/maison-iso.svg" with="94" alt="logo maison iso">
				<div class="navbar-brand__title">
					<!--TODO: rendre dynamique-->
					<p class="title-site">Connected House</p>
					<p class="subtitle-site">A future past or a future revolution ?</p>
				</div>
 			</a>
 			<!--<input type="checkbox" id="toggle-menu" class="mobile-menu-check visually-hidden">-->
 			<!-- # Menu + menu responsive -->
 			<!--<ul class="primary-nav nav navbar-nav nav-menu-multi">-->
 				<!--{{ partial "nav" . }}-->
 				<!--&lt;!&ndash; Bouton fermeture menu overlay, mobile/ipad uniquement &ndash;&gt;-->
 				<!--<li class="close-menu">-->
 					<!--<label for="toggle-menu"><span class="icon-close-l"></span></label>-->
 				<!--</li>-->
 				<!--&lt;!&ndash; /.close-menu &ndash;&gt;-->
 			<!--</ul>-->
 		</nav>
 	</div>

</div>
 <!-- /.main-navbar--wrapper -->
